*{
    margin: 0;
    padding: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 1080px;
    margin: 0 auto;
    background: #c095954f;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    list-style: none;
    display: flex;
    gap: 18px;
}

.banner{
    background: url('./image/banner.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_wrapper{
    display: flex;
    justify-content: space-between;
}

.content{
    width: 700px;
}

.sidebar{
    width: 480px
}

footer{
    text-align: center;
    background: #6151514f;
}